.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/views/purchase_dept/test_view.php
application/views/purchase_dept/test_view.php
.tmp.drivedownload/1000176.driveupload
.tmp.drivedownload/1004364.driveupload
.tmp.drivedownload/1013232.driveupload
.tmp.drivedownload/1014593.driveupload
.tmp.drivedownload/1014593.driveupload
.tmp.drivedownload/1035268.driveupload
.tmp.drivedownload/1037922.driveupload
.tmp.drivedownload/1045387.driveupload
.tmp.drivedownload/1058239.driveupload
.tmp.drivedownload/1059330.driveupload
.tmp.drivedownload/1066080.driveupload
.tmp.drivedownload/1075619.driveupload
.tmp.drivedownload/1079688.driveupload
.tmp.drivedownload/1084298.driveupload
.tmp.drivedownload/1085171.driveupload
.tmp.drivedownload/1092791.driveupload
.tmp.drivedownload/1095143.driveupload
.tmp.drivedownload/1095431.driveupload
.tmp.drivedownload/1102809.driveupload
.tmp.drivedownload/1106112.driveupload
.tmp.drivedownload/1106365.driveupload
.tmp.drivedownload/1107492.driveupload
.tmp.drivedownload/1129132.driveupload
.tmp.drivedownload/1144534.driveupload
.tmp.drivedownload/1159105.driveupload
.tmp.drivedownload/1151320.driveupload
.tmp.drivedownload/1160131.driveupload
.tmp.drivedownload/1178894.driveupload
.tmp.drivedownload/1183546.driveupload
.tmp.drivedownload/1185939.driveupload
.tmp.drivedownload/1192356.driveupload
.tmp.drivedownload/1206881.driveupload
.tmp.drivedownload/1212587.driveupload
.tmp.drivedownload/1215340.driveupload
.tmp.drivedownload/1236312.driveupload
.tmp.drivedownload/1255576.driveupload
.tmp.drivedownload/1259984.driveupload
.tmp.drivedownload/1261735.driveupload
.tmp.drivedownload/1271322.driveupload
.tmp.drivedownload/1287915.driveupload
.tmp.drivedownload/1292037.driveupload
.tmp.drivedownload/1293984.driveupload
.tmp.drivedownload/1297020.driveupload
.tmp.drivedownload/1301696.driveupload
.tmp.drivedownload/1308405.driveupload
.tmp.drivedownload/1312531.driveupload
.tmp.drivedownload/1314190.driveupload
.tmp.drivedownload/1321737.driveupload
.tmp.drivedownload/1323814.driveupload
.tmp.drivedownload/1330142.driveupload
.tmp.drivedownload/1344786.driveupload
.tmp.drivedownload/1348579.driveupload
.tmp.drivedownload/1348663.driveupload
.tmp.drivedownload/1369279.driveupload
.tmp.drivedownload/1385072.driveupload
.tmp.drivedownload/1390654.driveupload
.tmp.drivedownload/1391074.driveupload
.tmp.drivedownload/1391614.driveupload
.tmp.drivedownload/1397565.driveupload
.tmp.drivedownload/1417203.driveupload
.tmp.drivedownload/1434097.driveupload
.tmp.drivedownload/1459736.driveupload
.tmp.drivedownload/1476080.driveupload
.tmp.drivedownload/1477034.driveupload
.tmp.drivedownload/1484197.driveupload
.tmp.drivedownload/1487625.driveupload
.tmp.drivedownload/1489302.driveupload
.tmp.drivedownload/1503792.driveupload
.tmp.drivedownload/1531100.driveupload
.tmp.drivedownload/1531786.driveupload
.tmp.drivedownload/1539058.driveupload
.tmp.drivedownload/1548079.driveupload
.tmp.drivedownload/1557828.driveupload
.tmp.drivedownload/1561618.driveupload
.tmp.drivedownload/1576916.driveupload
.tmp.drivedownload/1582355.driveupload
.tmp.drivedownload/1582833.driveupload
.tmp.drivedownload/1590253.driveupload
.tmp.drivedownload/1597574.driveupload
.tmp.drivedownload/1598345.driveupload
.tmp.drivedownload/1607257.driveupload
.tmp.drivedownload/1607524.driveupload
.tmp.drivedownload/1608736.driveupload
.tmp.drivedownload/1613448.driveupload
.tmp.drivedownload/1624293.driveupload
.tmp.drivedownload/1641093.driveupload
.tmp.drivedownload/1658171.driveupload
.tmp.drivedownload/1658764.driveupload
.tmp.drivedownload/1662242.driveupload
.tmp.drivedownload/1663649.driveupload
.tmp.drivedownload/1677479.driveupload
.tmp.drivedownload/1689061.driveupload
.tmp.drivedownload/1697803.driveupload
.tmp.drivedownload/1704949.driveupload
.tmp.drivedownload/1709904.driveupload
.tmp.drivedownload/1714801.driveupload
.tmp.drivedownload/1716013.driveupload
.tmp.drivedownload/1727873.driveupload
.tmp.drivedownload/1739733.driveupload
.tmp.drivedownload/1748289.driveupload
.tmp.drivedownload/1751009.driveupload
.tmp.drivedownload/1764042.driveupload
.tmp.drivedownload/1771338.driveupload
.tmp.drivedownload/1774889.driveupload
.tmp.drivedownload/1779232.driveupload
.tmp.drivedownload/1782417.driveupload
.tmp.drivedownload/1799750.driveupload
.tmp.drivedownload/1813851.driveupload
.tmp.drivedownload/1817803.driveupload
.tmp.drivedownload/1819227.driveupload
.tmp.drivedownload/1823400.driveupload
.tmp.drivedownload/1836043.driveupload
.tmp.drivedownload/1857872.driveupload
.tmp.drivedownload/1874674.driveupload
.tmp.drivedownload/1904866.driveupload
.tmp.drivedownload/1906409.driveupload
.tmp.drivedownload/1908022.driveupload
.tmp.drivedownload/1943343.driveupload
.tmp.drivedownload/9999362.driveupload
.tmp.drivedownload/9994864.driveupload
.tmp.drivedownload/9990663.driveupload
.tmp.drivedownload/9983762.driveupload
.tmp.drivedownload/9982054.driveupload
.tmp.drivedownload/9981074.driveupload
.tmp.drivedownload/9974538.driveupload
.tmp.drivedownload/9971112.driveupload
.tmp.drivedownload/9963980.driveupload
.tmp.drivedownload/9962076.driveupload
.tmp.drivedownload/9957043.driveupload
.tmp.drivedownload/9947659.driveupload
.tmp.drivedownload/9944517.driveupload
.tmp.drivedownload/9942915.driveupload
.tmp.drivedownload/9942446.driveupload
.tmp.drivedownload/9939431.driveupload
.tmp.drivedownload/9933825.driveupload
.tmp.drivedownload/9927479.driveupload
.tmp.drivedownload/9921932.driveupload
.tmp.drivedownload/9921932.driveupload
.tmp.drivedownload/9921486.driveupload
.tmp.drivedownload/9910242.driveupload
.tmp.drivedownload/9899043.driveupload
.tmp.drivedownload/9903080.driveupload
.tmp.drivedownload/9898368.driveupload
.tmp.drivedownload/9892986.driveupload
.tmp.drivedownload/9883015.driveupload
.tmp.drivedownload/9862544.driveupload
